[tool.poetry]
name = "app"
version = "0.0.1"
description = ""
authors = ["lpofredc <frederic.cloitre@lpo.fr>"]

[tool.poetry.scripts]
dev_back = "app.main:main"

[tool.poetry.dependencies]
python = "^3.7"
fastapi = "^0.62.0"
pydantic = "^1.7.3"
SQLAlchemy = "^1.3.20"
psycopg2-binary = "^2.8.6"
databases = {extras = ["postgresql"], version = "^0.4.1"}
uvicorn = "^0.13.1"
python-dotenv = "^0.15.0"
GeoAlchemy2 = "^0.8.4"
coloredlogs = "^15.0"
loguru = "^0.5.3"
geojson-pydantic = "^0.2.2"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
mypy = "^0.790"
sqlalchemy-stubs = "^0.3"
flake8 = "^3.8.4"
autoflake = "^1.4"
isort = "^5.6.4"
black = "^20.8b1"
tox = "^3.20.1"
Sphinx = "^3.4.1"

[tool.poetryvirtualenvs]
create = true
in-project = true
path = ".venv"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = True
envlist = py37

[testenv]
deps = pytest >= 3.0.0, <4
commands = pytest
"""