.mapControl {
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 1);
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.mapControl i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 10px;
  opacity: 0.6;
}
