html,
body {
  overflow-x: hidden !important;
}

body {
  width: 100%;
}

.display-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

/********** TYPOGRAPHY **********/

.PlayfairDisplayTypo {
  margin-bottom: 6px;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 75px;
  color: #fff;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

h1,
h2,
h3,
h4,
span,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #262626;
}

h1 {
  font-size: 40px;
  line-height: 60px;
}

h2 {
  font-size: 32px;
  line-height: 48px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

span {
  font-size: 14px;
  line-height: 21px;
}

h5 {
  font-size: 12px;
  line-height: 18px;
}

h6 {
  font-size: 10px;
  line-height: 15px;
}

.InformativePageContent,
.nuxt-content {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nuxt-content p,
.nuxt-content ul {
  width: 100%;
  margin-bottom: 20px;
}

.nuxt-content ul {
  margin-top: -10px;
}

.black01 {
  color: #262626;
}

.black02 {
  color: #000;
}

.black03 {
  color: rgba(38, 38, 38, 0.6);
}

.black04 {
  color: rgba(38, 38, 38, 0.4);
}

.white01 {
  color: #fff;
}

.white02 {
  color: #fcfcfc;
}

.green01 {
  color: #39765a;
}

.red01 {
  color: #EF2E2E;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-bold /* 700 */ {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.text-shadow {
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.text-center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

/********** GLOBAL COMPONENTS **********/

/* Global padding and margin */
div.container.container--fluid {
  padding: 0;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.bottom-margin-4 {
  margin-bottom: 4px;
}

.bottom-margin-8 {
  margin-bottom: 8px;
}

.bottom-margin-16 {
  margin-bottom: 16px !important;
}

.bottom-margin-24 {
  margin-bottom: 24px !important;
}

.bottom-margin-32 {
  margin-bottom: 32px !important;
}

.bottom-margin-40 {
  margin-bottom: 40px !important;
}

.top-margin-24 {
  margin-top: 24px;
}

.right-margin-8 {
  margin-right: 8px;
}

.right-margin-12 {
  margin-right: 12px;
}

.right-margin-16 {
  margin-right: 16px;
}

.right-margin-24 {
  margin-right: 24px;
}

/* Links */
.v-application a {
  color: #39765a;
  text-decoration: none;
}

.v-application .nuxt-content a {
  font-weight: 600;
  color: #39765a;
  text-decoration: underline;
}

a.Vocabulary {
  position: relative;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
}

a.Vocabulary:hover {
  font-weight: bold;
  color: #eece25;
}

a.Vocabulary::after {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  background: rgba(238, 206, 37, 0.6);
  content: '';
  width: 100%;
  height: 48%;
  transition: 0.35s;
}

a.Vocabulary:hover::after {
  bottom: 0;
  height: 2px;
  background: rgba(238, 206, 37, 1);
}

/* Buttons */
.v-application a.PrimaryButton,
.PrimaryButton {
  background: #39765a;
  border-radius: 8px;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  color: #fcfcfc;
  text-align: center;
}

.PrimaryButton:disabled {
  background: rgba(57, 118, 90, 0.2);
  color: #39765a;
}

.v-application a.PrimaryButton.outlined,
.PrimaryButton.outlined {
  background: #fcfcfc;
  border: 2px solid rgba(57, 118, 90, 0.1);
  box-sizing: border-box;
  color: #39765a;
}

/* Dropdown and Radio lists */
.DropdownListSelectedOption {
  width: 100%;
  padding: 0 12px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.DropdownListChevron {
  width: 8px;
}

.DropdownOptionsBox {
  padding: 6px 0 6px 6px;
  background: #fcfcfc;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.DropdownOptionsOverflow {
  max-height: 165px;
  padding-right: 6px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.DropdownOption,
.RadioOption {
  /* Associé à une balise <li> */
  list-style: none;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.DropdownOption {
  color: #262626;
}

.DropdownOption.selected {
  background: rgba(238, 206, 37, 0.4);
}

.RadioOption {
  padding: 10px 12px;
  font-size: 14px;
  line-height: 21px;
  color: #000;
  display: flex;
  flex-direction: column;
}

.RadioOption.selected {
  background: rgba(238, 206, 37, 0.2);
}

.RadioLabel {
  display: flex;
  align-items: center;
}

.RadioButton {
  margin-right: 12px;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  border-radius: 50%;
  border: 1px solid rgba(38, 38, 38, 0.2);
  display: flex;
}

.RadioOption.selected .RadioButton {
  border: none;
  background: #eece25;
}

.RadioButtonSelected {
  background: #fcfcfc;
  margin: auto;
  min-width: 6px;
  max-width: 6px;
  min-height: 6px;
  max-height: 6px;
  border-radius: 50%;
}

.RadioSubtitle {
  display: none;
  margin-left: 28px;
}

.RadioOption.selected .RadioSubtitle {
  display: block;
}

.RadioOption.epoc {
  padding-left: 40px;
  cursor: auto;
}

/* Tab, Selector, Chip and Tag menus */
.TabMenu,
.SelectorMenu,
.ChipMenu,
.TagMenu {
  margin-bottom: 24px;
  white-space: nowrap;
  display: flex;
}

.TabMenu.vertical {
  flex-direction: column;
}

.SelectorMenu {
  margin: -6px 0 18px 0;
  flex-wrap: wrap;
}

.TagMenu {
  overflow-x: scroll;
  touch-action: pan-x;
  -webkit-overflow-scrolling: touch; /* iOS */

  /* Hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.TabItem {
  margin-right: 6px;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000;
}

.TabItem.vertical {
  margin-right: 0;
  margin-bottom: 6px;
}

.TabItem.selected {
  background: rgba(57, 118, 90, 0.1);
  font-weight: bold;
  color: #39765a;
}

.SelectorItem {
  margin: 6px 16px 6px 0;
  padding: 12px 24px;
  border: 1px solid rgba(38, 38, 38, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.ChipItem {
  margin-right: 8px;
  padding: 8px 16px;
  border: 1px solid rgba(38, 38, 38, 0.1);
  box-sizing: border-box;
  border-radius: 32px;
  cursor: pointer;
  white-space: nowrap;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.SelectorItem.selected,
.ChipItem.selected {
  background: rgba(238, 206, 37, 0.2);
  border: 2px solid #eece25;
}

.TabItem:last-child,
.SelectorItem:last-child,
.ChipItem:last-child {
  margin-right: 0;
}

.TabItem.vertical:last-child {
  margin-bottom: 0;
}

/* Cards */
.MenuCard,
.ProtocolCard,
.ContactCard {
  background: #efefef;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CardIcon {
  max-width: 120px;
  height: 40px;
  margin-bottom: 16px;
}

.MenuCard,
.ContactCard {
  border-radius: 16px;
}

.MenuCard {
  flex: 1;
  margin: 12px;
}

.ContactCard {
  height: 155px;
  cursor: pointer;
}

.ContactCard.selected {
  background: rgba(238, 206, 37, 0.2);
  border: 3px solid #eece25;
}

.MenuCard:hover,
.ContactCard:hover {
  background: rgba(238, 206, 37, 0.2);
}

.ProtocolCard {
  height: 230px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.ProtocolCard .CardSubtitle {
  transition: 0.3s;
}

.ProtocolCard:hover .CardSubtitle {
  margin-bottom: 8px;
}

.ProtocolCard.special {
  background: rgba(238, 206, 37, 0.2);
}

.ProtocolCard.special:hover {
  background: rgba(238, 206, 37, 0.4);
}

.NewsCard {
  background: #fcfcfc;
  padding: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.Carousel .NewsCard .nuxt-content {
  color: #262626;
}

.CardPicture {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
}

.CardSeeMore {
  display: flex;
  justify-content: flex-end;
}

.CardSeeMoreArrow {
  width: 8px;
}

/* Badges */
.Badge {
  padding: 8px 16px;
  border-radius: 56px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.ProtocolCard .Badge {
  opacity: 0;
  padding: 0;
  font-weight: 0;
  font-size: 0;
  line-height: 0;
  transition: 0.3s;
}

.ProtocolCard .Badge.breeding {
  background: #fb7971;
}

.ProtocolCard .Badge.wintering {
  background: #9eb9ff;
  color: #fcfcfc;
}

.ProtocolCard:hover .Badge {
  opacity: 1;
  padding: 8px 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

/* Tags */
.Tag {
  background: rgba(57, 118, 90, 0.1);
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 32px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.Tag:last-child {
  margin-right: 0;
}

/* Search bars */
.AutocompleteWrapper {
  position: relative;
  width: 100%;
  border: 1px solid rgba(57, 118, 90, 0.1);
  box-sizing: border-box;
}

.AutocompleteWrapper input {
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #262626;
}

.AutocompleteGadgets {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.AutocompleteCloseIcon {
  width: 20px;
  height: 20px;
  margin-right: 30px;
  cursor: pointer;
}

.AutocompleteSearchSplit {
  width: 1px;
  min-width: 1px;
  background: rgba(38, 38, 38, 0.1);
}

.AutocompleteDropdownWrapper {
  align-self: flex-start;
}

.AutocompleteDropdownSelectedOption {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* See Dropdown lists for AutocompleteDropdownOptionsBox */

.AutocompleteSearch {
  background: #eece25;
  display: flex;
}

.AutocompleteSearchIcon {
  margin: auto;
}

.AutocompleteResultsSplit {
  height: 1px;
  min-height: 1px;
  background: rgba(38, 38, 38, 0.1);
}

.AutocompleteResults {
  overflow: auto;
}

.AutocompleteResultsOption {
  list-style: none;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #262626;
}

.AutocompleteResultsOption:hover {
  background: rgba(238, 206, 37, 0.4);
  font-weight: 600;
}

.AutocompleteNoResults {
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* Helpers */
.HelperWrapper {
  position: relative;
  display: flex;
}

.HelperTip {
  display: none;
  position: absolute;
  z-index: 7;
  background: #262626;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
}

.HelperContent {
  display: none;
  position: absolute;
  z-index: 6;
  background: #262626;
  padding: 16px;
  border-radius: 8px;
  filter: drop-shadow(0 0 16px rgba(0, 0, 0, 0.32));
}

/********** NAVBAR **********/

.NavBar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 68px;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavBarODFLogoWrapper {
  flex: 1;
  display: flex;
}

.NavBarODFLogoLink {
  display: flex;
  align-items: center;
}

.NavBarODFLogoWrapper .ODFLogo {
  height: 36px;
}

.NavBar nav {
  flex: 2;
  height: 40px;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
}

.NavBarItem {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
}

.NavBarItem.selected {
  font-weight: bold;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.NavBarIconsMenu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.NavBarIconsWrapper {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  margin-left: 12px;
  display: flex;
}

.NavBarIconsWrapper:first-child {
  margin-left: 0;
}

.NavBarIcon {
  height: 16px;
  margin: auto;
}

.NavBarBurgerIcon {
  display: none;
}

.NavBarCloseIcon {
  height: 32px;
  cursor: pointer;
}

/********** MAIN PAGES **********/

.TopSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TopSection.breadcrumb {
  flex-direction: column;
  align-items: inherit;
}

.TopSectionContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TopSectionPictureCredit {
  position: absolute;
  z-index: 1;
  left: max(12%, calc((100% - 1200px) / 2));
  width: 76%;
  max-width: 1200px;
  text-align: right;
}

.MenuCardsContent {
  background: #fcfcfc;
  width: 76%;
  max-width: 1200px;
  border-radius: 24px;
  padding: 12px;
  display: flex;
}

.Section {
  padding: 40px 5%;
  display: flex;
  flex-direction: column;
}

/********** INFORMATIVE PAGES **********/

.InformativePageSection {
  background: rgba(57, 118, 90, 0.1);
  min-height: calc(100vh - 328px);
  padding: 20px 16%;
  border-top: 1px solid rgba(51, 105, 80, 0.2);
  border-bottom: 1px solid rgba(51, 105, 80, 0.2);
}

.InformativePageTitle,
.nuxt-content h2 {
  width: 100%;
  margin: 20px 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.InformativePageParagraph {
  width: 100%;
  background: #fcfcfc;
  border: 1px solid rgba(51, 105, 80, 0.2);
  box-sizing: border-box;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.InformativePageParagraph > *:last-child {
  margin-bottom: 0;
}

.InformativePagePicture {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.InformativePagePictureLegend {
  /* Le margin-bottom existe car il s'agit d'une balise <nuxt-content><p></p></nuxt-content> */
  margin-top: -4px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  text-align: center;
}

.ProtocolsDocumentsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 20px;
}

.ProtocolsDocumentsCard {
  background: #fcfcfc;
  padding: 24px;
  border: 1px solid rgba(51, 105, 80, 0.2);
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProtocolsDocumentsPicture {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
}

/********** MAP **********/

/* Dropdown selectors */
.MapSelectors {
  display: flex;
  justify-content: flex-end;
}

.leaflet-control .MapSelectors,
.MiniMapControl.mobile {
  display: none;
}

.MapSelectorWrapper {
  position: relative;
  margin-right: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.leaflet-control .MapSelectorWrapper {
  margin-right: 16px;
}

.MapSelectorWrapper:last-child,
.leaflet-control .MapSelectorWrapper:last-child {
  margin-right: 0;
}

.MapSelectorSelectedOption {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MapSelectorIcon {
  width: 16px;
  margin-right: 12px;
}

.MapSelectorChevron {
  width: 8px;
}

.MapSelectorBox {
  position: absolute;
  z-index: 5;
  top: 30px;
  background: #fcfcfc;
  width: 334px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 136px);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 16px 0 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leaflet-control .MapSelectorBox {
  top: 50px;
  max-height: calc(100vh - 208px);
  max-height: calc(calc(var(--vh, 1vh) * 100) - 208px);
}

.MapSelectorInfo {
  margin: 0 16px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DisplayingTypeWrapper {
  border: 1px solid rgba(38, 38, 38, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
}

.DisplayingType {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: flex;
}

.DisplayingType.selected {
  background: #eece25;
}

.DisplayingTypeIcon {
  width: 16px;
  margin: auto;
}

.MapSelectorOverflow {
  flex: 1;
  padding-right: 16px;
  overflow-y: auto;
  scrollbar-width: thin;
}

/* Search bars */
.AutocompleteWrapper.map {
  background: linear-gradient(rgba(38, 38, 38, 0.03), rgba(38, 38, 38, 0.03)),
    white;
  border-radius: 8px;
}

.AutocompleteWrapper.map.open {
  border: 1px solid #eece25;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
}

.AutocompleteWrapper.map input {
  height: 42px;
  border-radius: 8px;
  padding-left: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.AutocompleteGadgets.map {
  background: linear-gradient(rgba(38, 38, 38, 0.03), rgba(38, 38, 38, 0.03)),
    white;
  height: 42px;
  border-radius: 8px;
  padding: 0 5px;
}

.AutocompleteCloseIcon.map {
  width: 14px;
  height: 14px;
  margin-right: 16px;
}

.AutocompleteSearch.map {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.AutocompleteSearchIcon.map {
  height: 14px;
}

/* Map controls */
.MapControl {
  --maxHeight: calc(100vh - 156px);

  width: 506px;
  background: #fcfcfc;
  max-height: var(--maxHeight);
  padding: 16px 0 16px 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.MapControl .MapControlDashboard {
  max-height: calc(var(--maxHeight) - 32px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MapControlInfo {
  margin: 0 16px 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MapControlInfoTitles {
  display: flex;
  flex-direction: column;
}

.MapControlDownloadButton {
  width: 42px;
  min-width: 42px;
  height: 42px;
  border: 2px solid rgba(57, 118, 90, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
}

.MapControlDownloadButtonIcon {
  width: 24px;
  margin: auto;
}

.MapControlSplit {
  height: 1px;
  min-height: 1px;
  margin-bottom: 24px;
  background: rgba(57, 118, 90, 0.1);
}

.MapControlSplit.main {
  /* height: 2px;
  min-height: 2px; */
  margin-bottom: 0;
  background: rgba(57, 118, 90, 0.4);
}

.MapControlOverflow {
  flex: 1;
  padding-right: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.MapControlKeyData {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.MapControlKeyDataValue {
  white-space: nowrap;
}
.MapControlKeyDataValue.small {
  display: none;
}
.MapControlKeyDataValue.all_period {
  color: #39765a;
}
.MapControlKeyDataValue.breeding {
  color: #e65784;
}
.MapControlKeyDataValue.wintering {
  color: #4c61f4;
}

.MapControlDataOption {
  /* Associé à une balise <li> */
  margin-bottom: 12px;
  list-style: none;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000;
  display: flex;
  align-items: center;
}

.MapControlDataOption:last-child {
  margin-bottom: 0;
}

.MapControlDataOption.top-margin:first-child {
  margin-top: 24px;
}

.MapControlDataOptionIcon {
  width: 24px;
  margin-right: 24px;
}

.MapControlSeeMoreWrapper {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MapControlSeeMore {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.MapControlSeeMore h5.small.green01 {
  display: none;
}

.MapControlSeeMoreChevron {
  height: 7px;
}

.MapControlComeBack {
  margin-bottom: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.MapControlComeBackIcon {
  width: 12px;
  margin-right: 12px;
}

.MobileMapControl {
  /* Cacher l'élément tout en gardant ses valeurs de taille */
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  display: flex;
}
.MobileMapControlCloseIcon,
.MobileMapControl .MapControlInfo .MapControlDownloadButton,
.MobileMapControl menu.TabMenu,
.MobileMapControlMenuWrapper,
.MobileMapControl .ChipMenu,
.MapControlOverflow .DropdownListWrapper {
  display: none;
}

.MobileMapControl .MapControl {
  max-width: calc(100vw - 20px);
  --maxHeight: calc(calc(var(--vh, 1vh) * 100) - 20px);
  margin: auto;
}

.MobileMapControl .MobileMapControlCloseIcon {
  display: flex;
  width: 24px;
  margin-left: 12px;
  cursor: pointer;
  align-self: flex-start;
}

.MobileMapControl .MobileMapControlMenuWrapper {
  display: flex;
  max-height: 66px;
  margin-right: 16px;
}

.MobileMapControl .MobileMapControlMenuWrapper .MapControlDownloadButton {
  margin-left: 16px;
}

.MobileMapControl .MobileMapControlMenuWrapper .PrimaryButton.outlined {
  width: 100%;
}

.MobileMapControl .MapControlOverflow .DropdownListWrapper {
  display: block;
}

.MobileMapControl .TimeDistributionBarPlot {
  overflow-x: auto;
  touch-action: auto;
  -webkit-overflow-scrolling: touch; /* iOS */
}

.MiniMapControl {
  width: 42px;
  height: 42px;
  background: #fcfcfc;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
}

.MiniMapControl.selected {
  background: #eece25;
}

.MiniMapControl .Icon {
  width: 24px;
  height: 24px;
  margin: auto;
}

.InformationControl {
  background: #fff;
  padding: 12px;
  border: 2px solid #eece25;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  display: flex;
}

/* Leaflet */
.leaflet-control-zoom.leaflet-bar.leaflet-control {
  width: 42px;
  height: 74px;
  background: #fcfcfc;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 8px;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control a {
  width: 42px;
  height: 37px;
  line-height: 37px;
  background: #fcfcfc;
  border: none;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control a:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control a:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.LeafletTooltip {
  padding-left: 10px !important;
  padding-right: 10px !important;
  border: none !important;
  background: rgba(252, 252, 252, 0.8) !important;
  backdrop-filter: blur(4px) !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #000;
}

.leaflet-tooltip-left::before {
  border-left-color: rgba(0, 0, 0, 0) !important;
}
.leaflet-tooltip-right::before {
  border-right-color: rgba(0, 0, 0, 0) !important;
}

.leaflet-bottom.leaflet-left .InformationControl {
  display: none;
}

/********** CONTACT FORMS **********/

.ContactFormContent {
  width: 600px;
  max-width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.ContactFormAlert {
  margin: -12px 0 24px 0;
  color: #EF2E2E;
}

.ContactFormAlertCloseIcon {
  cursor: pointer;
}

input.ContactFormInput {
  width: 100%;
  height: 32px;
  margin-bottom: 24px;
  padding: 0 12px;
  border: 1px solid rgba(38, 38, 38, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #262626;
}

input.ContactFormInput:focus {
  border: 1px solid #eece25;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
}

textarea.ContactFormTextarea {
  margin-bottom: 24px;
  padding: 6px 12px;
  border: 1px solid rgba(38, 38, 38, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #262626;
}

textarea.ContactFormTextarea:focus {
  border: 1px solid #eece25;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
}

/********** VUETIFY OVERLAY **********/

/* Pagination */
button.v-pagination__item,
button.v-pagination__navigation {
  box-shadow: none;
}

button.v-pagination__navigation .theme--light.v-icon {
  color: #000;
}

.theme--light.v-pagination .v-pagination__item {
  background: #fcfcfc !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
  line-height: 21px !important;
  color: #000 !important;
}

.theme--light.v-pagination .v-pagination__item--active {
  background: rgba(96, 128, 113, 0.2) !important;
  font-weight: bold !important;
}

.theme--light.v-pagination .v-pagination__navigation {
  background: #fcfcfc !important;
}

/********** RESPONSIVE **********/

@media screen and (max-width: 1050px) {
  /********** INFORMATIVE PAGES **********/

  .InformativePagePicture {
    width: 100% !important;
  }
}

@media screen and (max-width: 950px) {
  /********** MAP **********/
  header > .MapSelectors {
    display: none;
  }
  .leaflet-control .MapControl {
    /* Cacher l'élément tout en gardant ses valeurs de taille */
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }

  .leaflet-control .MapSelectors,
  .MiniMapControl.mobile {
    display: flex;
  }

  .MobileMapControl {
    z-index: 2000;
    top: 0 !important;
    left: 0 !important;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: rgba(38, 38, 38, 0.6);
  }

  /* Pour que les .MapSelectorWrapper (en mobile) passent au-dessus des .MapControl du bas */
  .leaflet-top.leaflet-right {
    z-index: 1001;
  }

  .leaflet-top.leaflet-right .InformationControl {
    display: none;
  }

  .leaflet-bottom.leaflet-left .InformationControl {
    display: flex;
    max-width: calc(100vw - 72px);
  }
}

@media screen and (max-width: 920px) {
  /********** NAVBAR **********/

  .NavBar nav {
    display: none;
  }

  .NavBarIconsWrapper {
    display: none;
  }

  .NavBarBurgerIcon {
    display: flex;
    height: 32px;
    cursor: pointer;
  }

  /********** INFORMATIVE PAGES **********/

  .InformativePageSection {
    padding: 16px 5%;
  }
}

@media screen and (max-width: 680px) {
  /********** TYPOGRAPHY **********/

  .PlayfairDisplayTypo {
    font-size: 40px;
    line-height: 53px;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
  }

  h4 {
    font-size: 14px;
    line-height: 21px;
  }

  .MapControl h4.fw-bold {
    font-size: 16px;
    line-height: 24px;
  }

  /********** MAIN PAGES **********/

  .Section {
    padding: 24px 5%;
  }

  .Carousel .NewsCard span,
  .Carousel .NewsCard .nuxt-content {
    font-size: 12px;
    line-height: 18px;
  }

  /********** INFORMATIVE PAGES **********/

  .InformativePageTitle,
  .nuxt-content h2 {
    margin: 8px 0 16px 0;
  }

  .InformativePageParagraph {
    margin-bottom: 16px;
  }

  .InformativePagePicture {
    margin: 16px 0;
  }
}
